html {
  height: 100%;
}

body {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

main {
  flex: 1;
}

.pre {
  font-size: 12px !important;
  text-wrap: wrap !important;
  height: 40vh;
  overflow: hidden !important;
}

code {
  font-size: 12px !important;
  text-wrap: wrap !important;
}

.stage {
  text-align: center;

}

footer {
  padding: 8px;
  text-align: center;
}
